.sideRibbon {
    height: 100%;
    margin: 5%;
    margin-top: 15%;
    box-shadow: rgba(0, 0, 0, 0.10) 2px 0px 0px;
    overflow:visible;
    display: flex;
    flex-direction: column;
}

.sideRibbonImgs {
    width: 30px;
    height: 30px;
    margin: 10px;
}

/* .sideRibbonImgBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
} */

.sideRibbonProfilePicDim {
    width : 250px;
    height: 250px;
    object-fit: cover; /* Ensures the image fills the shape */
    border-radius: 50%;
}