.Tile{
    width: 25vw;
    height: 20vh;
    display: flex;
    flex-direction: row;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 1vw;
    box-sizing: border-box;
    flex-shrink: 0;
}

.TileContent {
    justify-content:center;
    margin: 5%;
    overflow: auto;
}

.TileExpanded{
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 1vw;
    box-sizing: border-box;
    flex-shrink: 0;
}

/* .TileImg {
    height: 5vh;
    width: 5vw;
} */

.TileOvrContent {
    display: flex;
    flex-direction: row;
}

.TileTxtContent {
    display: flex;
    flex-direction: column;
}