.contentview {
    display: flex;
    flex-direction: column;
    overflow: auto;
    margin-left: 5%;
    margin-right: 5%;
}

.contentrespSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contentMetaData {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}