.App {
  margin-left: 2%;
  margin-right: 5%;
  width: 80%;
  overflow-x: auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif /*'Courier New', Courier, monospace;*/
}

.Appovrl {
  display: flex;
  flex-direction: row;
}

.AppSideBar {
  width: 20%;
}